<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/book.png" type="image/x-icon">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/styles.css') }}"
  />
    <title>Unsere Bibliothek</title>
  </head>

  <body>

    <!-- Tab Navigation -->

    <ul class="nav nav-pills nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="./">Rückgabe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="lending.html">Ausleihe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="book_search.html">Büchersuche</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="user_management.html">Benutzerverwaltung</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="book_management.html">Bücherverwaltung</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Bücherimport </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="report.html">Statistik</a>
      </li>
    </ul>

<!-- Buchimport -->

    <h1 class="mt-3 ms-5">Bücher Import</h1>
    {% with messages = get_flashed_messages() %} {% if messages %}
    {% for message in messages %}
    <div class="container">  
    <h2 class="flashes mt-3 success">{{message}}</h2>
    </div>
    {% endfor %}
    {% endif %} {% endwith %}

    <div class="justify-start mt-3 ms-5 me-5 row">
      <div class="col">

<!-- Nummern eingeben -->

        <h2>ISBN-Nummern eingeben</h2>
        Pro Zeile eine Nummer
        <form action="" method="POST">
          <div class="input-group my-3">
            <span class="input-group-text">ISBN-Nummern:</span>
            <textarea class="form-control" style="height: 300px" name="ISBNs">{{ISBNs}}</textarea>
          </div>
          Suche bei &nbsp &nbsp &nbsp
          <button type="submit" class="btn btn-primary mt-3" name="btn_search_goob">Google Books</button> 
          <button type="submit" class="btn btn-primary mt-3 mx-2" name="btn_search_wiki">Wikipedia</button> 
          <button type="submit" class="btn btn-primary mt-3" name="btn_search_openl">OpenLibrary</button> <br><br>
          <button type="submit" class="btn btn-warning" name="btn_delete_list">Liste löschen</button>
        </form>
      </div>

<!-- Ergebnisse -->

      <div class="col-7">
        <h2>Suchergebnisse</h2>
        Gefundene Bücher
        <form action="" method="POST">
          <div class="input-group my-3">
            <span class="input-group-text">Bücher:</span>
            <textarea class="form-control" style="height: 300px" readonly>{{result_txt}}</textarea>
          </div>
          <p> Sollte etwas nicht passen, bitte links die entsprechende ISBN herauslöschen und erneut versuchen. <br> 
          Wenn man zufrieden mit der Liste ist, auf "Importieren" klicken. </p>
          <button type="submit" class="btn btn-primary" name="btn_import_books">Importieren und unten weiter bearbeiten</button>
        </form>
      </div>

      </div>


<div class="justify-start mt-5 ms-5 me-5 row">
  <div class="col-7">
    <h2>Buch Angaben</h2>
    {% for picked_book in books %}
    <p>Die Schlagworte bitte mit Kommas trennen. Beispiel: Mädchen, Pony, Pferd, Weihachten</p>
    <form action="" method="POST">
      <div class="input-group mt-3">
        <span class="input-group-text my_searchlabel"
          >ISBN:</span
        >
        <input type="text" class="form-control" name="ISBN" value="{{picked_book.ISBN}}" />
      </div>
      <div class="input-group">
        <span class="input-group-text my_searchlabel"
          >Titel:</span
        >
        <input type="text" class="form-control" name="title" value="{{picked_book.Titel}}"/>
      </div>
      <div class="input-group">
        <span class="input-group-text my_searchlabel"
          >Autor:</span
        >
        <input type="text" class="form-control" name="author" value="{{picked_book.Autor}}"/>
      </div>
      <div class="input-group">
        <span class="input-group-text my_searchlabel"
          >Schlagworte:</span
        >
        <input type="text" class="form-control" name="tags" value="{{picked_book.Schlagworte}}"/>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text my_searchlabel" for="inputGroupSelect01">Medium</label>
        </div>
        <select class="custom-select form-control" id="inputGroupSelect01" name="medium">
          <option selected value="{{picked_book.Medium.value}}">{{picked_book.Medium.value}}</b></option>
          <option value="Sachbuch">Sachbuch</option>
          <option value="Roman_Jugendbuch">Roman_Jugendbuch</option>
          <option value="Kinderbuch">Kinderbuch</option>
          <option value="Zeitung_Zeitschrift">Zeitung_Zeitschrift</option>
          <option value="Tonträger">Tonträger</option>
          <option value="Film">Film</option>
          <option value="Analoges_Spiel">Analoges_Spiel</option>
          <option value="Digitales_Medium">Digitales_Medium</option>
          <option value="Anderes_Nichtbuchmedium">Anderes_Nichtbuchmedium</option>
          <option value="Virtuelles_Medium">Virtuelles_Medium</option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-text my_searchlabel"
          >Kommentar:</span
        >
        <input type="text" class="form-control" name="comment" value="{{picked_book.Kommentar}}"/>
      </div>
      <div class="input-group">
        <span class="input-group-text my_searchlabel"
          >Standort:</span
        >
        <input type="text" class="form-control" name="location" value="{{picked_book.Standort}}"/>
      </div>
      <div class="input-group">
        <span class="input-group-text my_searchlabel"
          >Verlag:</span
        >
        <input type="text" class="form-control" name="publisher" value="{{picked_book.Verlag}}"/>
      </div>
      <div class="input-group">
        <span class="input-group-text my_searchlabel"
          >Jahr:</span
        >
        <input type="text" class="form-control" name="year" value="{{picked_book.Jahr}}"/>
      </div>
      <div class="input-group">
        <span class="input-group-text my_searchlabel"
          >Anzahl:</span
        >
        <input type="text" class="form-control" name="number" value="{{picked_book.Anzahl}}"/>
      </div>
      <div class="input-group mb-5">
        <span class="input-group-text my_searchlabel"
          >Vorhanden:</span
        >
        <input type="text" class="form-control" name="available" value="{{picked_book.Momentan_vorhanden}}"/>
      
      <button type="submit" class="btn btn-primary" name="btn_book_change" value="{{picked_book.BuchID}}">
        Buch speichern
      </button>
    </div>
    </form>
    {% endfor %}
  </div>
</div>



<hr>
    <!-- footer -->

    <div class="d-flex justify-content-end">
      <div class="card">
        <div class="card-body">Georg Aubele, 2023</div>
      </div>
    </div>
  </body>
</html>
